body {
        background-image: url("back.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }

.container {
  margin-top: 30px;
  
}
.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: medium;
}
.cart-item button {
  margin-left: 10px;
}
.total-price {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
}
