/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {margin: 0; padding: 0;}

body {
	font-family: montserrat, arial, verdana;
	background-color: #98d4f3;
	overflow: hidden;
}

/* Animation */
@keyframes myfirst
{
	
	70% {margin-left: 100%;}     /* so fish group stay hidden from 16.8s to 24s */
	100% {margin-left: 100%;}
}
/* fish that swim */
.fish{
	background-image: url('http://www.geertjanhendriks.nl/codepen/form/fish.png');
	width: 235px;
	height: 104px;
	margin-left: -235px;
	position: absolute;	
	animation: myfirst 24s;
	animation-iteration-count: infinite;  /* infinite animation */
	animation-timing-function: linear;    /* linear animation timing moves at constant speed */
	
}

/* first fish group position */
#fish{
	top: 300px;        /* position of first fish group from top of screen */
}

/*second fish group*/
#fish2{
	top: 650px;               /* position of second fish group from top of screen */    
	animation-delay: 12s;
}


/*form styles*/
#msform {
	max-width: 800px;
	margin: 100px auto;
	text-align: center;
	position: relative;
}
/* fieldset styles */
#msform fieldset {                     
	background: white;
	border: 0 none;
	border-radius: 50px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding: 30px;
	border: 1px solid #ccc;
	border-radius: 10px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
#msform .action-button {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 10px;
	cursor: pointer;
	padding: 10px;
	margin: 10px 5px;
  	text-decoration: none;
  	font-size: 14px;
}
/* hover effects */
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
	font-size: 20px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 20px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;        /* to put number in little boxes*/
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 33.33%;
	float: left;
	position: relative;
}
/*to make progress bar boxes */
#progressbar li:before {              
	content: counter(step);     
	counter-increment: step;           /*increment counter by 1 */
	width: 20px;
	line-height: 20px;
	display: block;                     /* so that text doesn't overlap with the progress bar */
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connector lines*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 10px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #27AE60;
	color: white;
}