{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'store/CSS/style_sign_in.css' %}" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{% static 'store/JavaScript/script_sign_in.js' %}"></script>
    <link rel="icon" href="{% static 'store/images/fish-store-website-favicon-color (1).png' %}" type="image/x-icon" />
    <title>Sign in</title>
</head>
<body>
    <header>
        <h1>Login</h1>
    </header>
    
    <div id="form">
    
        <div class="fish" id="fish"></div>     <!--first moving fish squad-->
    
        <div class="fish" id="fish2"></div>    <!--second moving fish squad-->
    
        <form id="waterform" method="post">    <!--begin form-->
    
            <div class="formgroup" id="email-form">      <!--email form-->
                <label for="email">Your e-mail*</label>
                <input type="email" id="email" name="email" />
            </div>


            <div class="formgroup" id="password-form">        <!--password form-->
                <label for="password">Your password*</label>
                <input type="password" id="password" name="password" />
            </div>
    
            <input type="submit" value="Sign in!" class="submit"/>       <!--submit button to sign in--> 
            <p>Not registered?</p>
            <a href="sign_up.html" style="text-align: center;">Create an account!</a>  <!--link to go to sign up page-->
    </form>

    </div>
</body>
</html>